<template name="download">
  <hr>
  <button id="refreshData" type="button" class="btn btn-info">Refresh Data</button>
  <div>Number of Currencies in database: {{currencyCount}}</div>
  <hr>
  {{> requestForm}}
</template>

<template name="requestForm">
  <form class="form-group">
    <label for="currencyNames">Currency</label>
    <select name="currencyNames" id="currencyNames" class="form-control">
      {{#each currencyNames}}
      <option value="{{currencyLink}}">{{currencyName}}</option>
      {{/each}}
    </select>
    <br>
    <label for="dataFrequencies">Frequency</label>
    <select name="dataFrequencies" id="dataFrequencies" class="form-control">
      <option value="7d">7 day</option>
      <option value="30d">30 day</option>
      <option value="90d">90 day</option>
      <option value="180d">180 day</option>
      <option value="365d">365 day</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>
